
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*---------------------------------estilos barra de navegacion-------------------------------*/
.nav-buttons{
     
     margin-left: 40%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"poppins" , sans-serif  ;
    text-align: center;
}

.titulo-galeria h1{
  background-position: center;
}

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 100 ;
}

h2{
    font-size: 1.8rem;
   font-weight: 600; 
}


h3{
    font-size: 1.5rem;
   font-weight: 800; 
   color: #000;
}


h4{
    font-size: 1.2rem;
   font-weight: 600; 
}


h5{
    font-size: 1rem;
   font-weight: 400; 
}

h6{
    color: #c40f0f; 
}

.navbar{
    font-size: 18px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 0px;   /*distancia de menu del costado izq*/
    color: #000;
    transition: 0.3s ease;
}

.nav-item{
  padding: 0 0px;
  color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
    color: coral;

}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.1s ease ;
    font-weight: 500;
    cursor: pointer; 
    margin-left: 5px;
    
}

@media only screen and (max-width:990px){

    .nav-buttons{
        margin: 20px;   
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;       
    }

    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;
    }

        
} 

/*-----------------------------------------banner 1-------------------------------------------*/
#home{
  color: aliceblue;
  background-image: url("../imgs/brand/imagen\ banner\ 2.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

}

#home span{
  color: coral;
  padding-top: 400px;
}

#home h1{
  color:  rgba(0, 0, 0,0.8);
  color: white; text-shadow: #333 0.1em 0.1em 0.1em;
  
}

#home p{
  color:  rgba(0, 0, 0,0.8);
    color: rgb(255, 255, 255);
  text-shadow: #333 0.1em 0.1em 0.1em; 
  
  
}

/* -------------------------------------estilos seccion valores------------------------ */

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .valor {
    width: 1000%; /* Cambia el ancho para adaptarse a una sola columna */
    max-width: 100%;
   
  }
}

button:hover{
  background-color: rgba(46, 45, 45, 0.384);
  

}

.valores-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Cambiamos a "space-between" para que los elementos estén separados igualmente */
  align-items: flex-start; /* Centramos verticalmente los elementos en el contenedor */
  
}

.valor {
  width: 100%; /* O ajusta según tus necesidades */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  flex: 1; /* Distribuye el espacio disponible igualmente entre los elementos */
  max-width: 85%; /* Establece un ancho máximo para cada elemento para que haya 4 en una fila */
  box-sizing: border-box; /* Incluye el padding en el ancho máximo */
}

.valor img {
  width: 100%; /* Ajusta según tus necesidades */
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.6);
}
.valor-text-container {
  display: none;
   padding: 10px; /* Ajusta el espacio interno del contenedor */
   /* Oculta inicialmente el contenedor de texto */
}
.valor-text-container {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.valor-text{
  text-align: left;
}

.toggle-button.active {
  background-color: rgba(46, 45, 45, 0.384);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: #5352520e;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 50%;
  color: #ffffff; /* Cambia el color del texto según tus preferencias */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 14px;
}

.image-container:hover .toggle-button {
  display: flex;
}


.valor-text-container.active {
  display: flex;
}

.toggle-button:hover,
.toggle-button.active:hover {
  background-color: rgba(10, 45, 45, 0.384);
  cursor: pointer;
}

.valor-text.hidden {
  display: none;
}

body {
  font-family: Poppins, sans-serif;
}



.valores-section {
  text-align: center;
  padding: 100px;
  background-color: #ffffff;
  box-shadow: 0 0px 0cm rgba(0, 0, 0, 0.0)
  
}

.valores-section hr{
  width: 400px; /* Ajusta la longitud de la línea según tus necesidades */
    height: 1px; /* Ajusta el grosor de la línea según tus necesidades */
    background-color: #333; /* Ajusta el color de la línea según tus necesidades */
    
}
.valores-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.valor img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.6);
}

/*-----------------------------------------------banner 2------------------------------------------*/

#banner span{
  color: coral;

}

#banner h1{
  color:  rgba(0, 0, 0,0.2);
  color: white; text-shadow: #333 0.1em 0.1em 0.1em;
  font-weight: bold;  
}


#banner p{
  color:  rgba(0, 0, 0,0.8);
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: #333 0.1em 0.1em 0.1em; 
  
  
}

#banner h1{
  color: coral;
}



#banner button{
  background-color: #fb774b;
}



#banner button:hover{
  background-color: #171817a1;
}

#banner {
color: aliceblue;
background-image: url("../imgs/carnes.jpg");
width: 100%;
height: 60vh;
background-size: cover;
background-position-x: center;
background-position-y: 50px;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
text-align: center;
position: center; /* Añadir posición relativa */
}

#banner::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: inherit; /* Hereda la imagen de fondo del banner */
filter: blur(5px); /* Aplica el desenfoque al fondo */
z-index: -1; /* Coloca el fondo desenfocado detrás del contenido */
}


/*--------------------------------------productos---------------------------------------------------*/

.product{
cursor: pointer;
margin-bottom: 2rem;

}
  
.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;


}
.product .buy-btn{
background-color: #fb774b;
transform: translateY(50px);
opacity: 0;
transition: 0.3s all;;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}


hr{
    width: 30px;
    height: 3px;
    opacity: 1;
    background-color: #fb774b;
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.9rem;
    color: goldenrod;
}

/*algunos de nuestros productos*/

#featured {
  
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: 100%;
  max-width: 1350px; /* Puedes especificar un ancho máximo si lo deseas */
  margin: 0 ; /* Centra la sección horizontalmente */
  padding:0; /* Ajusta el espaciado interno según tus necesidades */
  background-color: #ffffff; /* Color de fondo opcional */
 
}
#featured .product {
  margin: 0;
  padding: 0;
}

#featured hr {
  width: 500px; /* Ajusta la longitud de la línea según tus necesidades */
  height: 1px; /* Ajusta el grosor de la línea según tus necesidades */
  background-color: #333; /* Ajusta el color de la línea según tus necesidades */
  margin: 20px auto; /* Ajusta el margen superior e inferior según tus necesidades */
}

#featured .img-fluid {
  width: 70%; /* Puedes ajustar el ancho según tus necesidades */
  height: auto; /* Esto mantiene la proporción original de la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.521);
  border-radius: 15px;
}



/*------------------------------estilos Galeria de fotos---------------------------------------------------*/

#titulo-galeria {
  margin-top: 50px; /* Puedes ajustar según sea necesario */
  font-size: 2em;  /* Puedes ajustar según sea necesario */
}

.container-carousel {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  background-color: #e0e0e0;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  overflow: hidden ;
  
}

.carruseles {
  width: 1300%;
  height: 100%;
  display: flex;

}

.slider-section {
  width: calc(100% / 10);
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.btn-left,
.btn-right {
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff81;
  transform: translate(0,-50%);
  transition: .5s ease;
  user-select: none;
}

.btn-left:hover,
.btn-right:hover {
  background-color: #333333d4;
  color: #fff;
}

.btn-left {
  left: 10px;
}

.btn-right {
  right: 10px;
}

  /* Aplica una opacidad del 50% a las imágenes fuera del contenedor */
  .container-carousel::before,
  .container-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(0, 0, 0, 0.9); /* Cambia el último valor (0.5) para ajustar la opacidad */
    z-index: -1;
  }
  
  /* Asegura que las imágenes se superpongan al contenido principal */
  .container-carousel {
    position: relative;
    
  }


/*--------------------------------------------estilos que ofrecemos----------------------------------------------------------*/

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Ajusta según la fuente que desees utilizar */
  
}

.ofrecemos-section {
  background: url("../imgs/brand/1000.png") center/cover; /* Ajusta la ruta de la imagen y los estilos de fondo */
  
  text-align: center;
  color: white;
  
}


.titulo-grafico {
  font-size: 34px;
}

.ofrecemos-title {
  font-size: 34px;
  margin-bottom: 10px;
}

.divider {
  width: 400px;
  height: 2px;
  background-color: white; /* Ajusta según el color de la línea */
  margin: 0 auto 10px;
}

.productos-title {
  color: white;
  font-size: 20px;
  margin-bottom: 1px;
}

.graficos-container {
  display: flex;
  justify-content: space-around;
}

.grafico {
  flex: 1;
  padding: 20px;
}

.titulo-grafico {
  font-size: 18px;
  margin-bottom: 10px;
}


.barra {
  width: 0px;
  height: 20px;
  background-color: coral;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: width 1s ease; /* Ajusta la duración de la animación aquí */

}


.barra::after {
  content: attr(data-porcentaje) '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}


.barra-container {
  position: relative;
  width: 60%; /* Establece el ancho máximo al 50% de la pantalla */
  margin: 0 auto; /* Centra el contenedor */
}

.porcentaje {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
 }
@keyframes desplazamiento {
  from {
    left: 50;
  }

  to {
    left: 50%;
  }
}


/*---------------------------------------------------------------------------------------------------*/

/*-----------------------------Estilos generales para el footer---------------------------------*/

footer {
  background-color: #222;
  color: #d8d8d8;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 20px 0; /* Ajusta el espacio interior del footer */
  text-align: center;
}

/* Estilos para encabezados en el footer */
footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0; /* Elimina el margen superior e inferior predeterminado */
}

/* Estilos para la lista en el footer */
footer ul {
  list-style: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el espacio interno de la lista */
}

/* Estilos para los elementos de la lista en el footer */
footer li {
  padding-bottom: 8px;
}

/* Estilos para los enlaces en el footer */
footer a {
  color: #d8d8d8;
  text-decoration: none; /* Elimina el subrayado predeterminado */
  transition: color 0.3s ease; /* Agrega una transición suave al color */
}

/* Cambia el color de los enlaces cuando se desplazan sobre ellos */
footer a:hover {
  color: #636363ad;
}

/* Estilos para el bloque de derechos de autor */
footer .copyright {
  margin-top: 20px; /* Agrega espacio en la parte superior del bloque de derechos de autor */
}

/* Estilos para los íconos de redes sociales en el footer */
footer .copyright a {
  color: #ffffff;
  height: 40px;
  width: 40px;
  background-color: #fff;
  display: inline-flex; /* Para centrar verticalmente */
  align-items: center; /* Para centrar verticalmente */
  justify-content: center; /* Para centrar horizontalmente */
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px;
}

/* Cambia el color de los íconos de redes sociales cuando se desplazan sobre ellos */
footer .copyright a:hover {
  color: #fff;
  background-color: #fb774b;
}

/* Estilos para el texto en el footer */
footer p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px; /* Ajusta el tamaño del texto */
  color: white;
}

/* Estilos para los encabezados secundarios en el footer */
footer h6 {
  color: white;
  margin: 0; /* Elimina el margen superior e inferior predeterminado */
}

/* Estilos para la imagen del logo en el footer */
footer .copyright img {
  width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
  max-width: 100px; /* Define un ancho máximo para la imagen */
}


/* Estilo para el texto en las etiquetas li */
ul.text-uppercase li {
font-size: 12px; /* Ajusta el tamaño según tus preferencias */
}

/* Estilo para el texto en las etiquetas h5 */
.footer-one h5 {
font-size: 15px; /* Ajusta el tamaño según tus preferencias */
}

/* Estilo para el texto en las etiquetas h6 */
.footer-one h6 {
font-size: 12px; /* Ajusta el tamaño según tus preferencias */
}

/* Estilo para el texto en las etiquetas p */
.footer-one p {
font-size: 12px; /* Ajusta el tamaño según tus preferencias */
}

.footer-one p {
white-space: nowrap;
}
  







