.nav-buttons{
     
  margin-left: 40%;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 font-family:"poppins" , sans-serif  ;
 text-align: center;
 padding-top: 30px;
}

.titulo-galeria h1{
background-position: center;
}

h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 2.5rem;
 font-weight: 100 ;
}

h2{
 font-size: 1.8rem;
font-weight: 600; 
}


h3{
 font-size: 1.5rem;
font-weight: 800; 
color: #000;
}


h4{
 font-size: 1.2rem;
font-weight: 600; 
}


h5{
 font-size: 1rem;
font-weight: 400; 
}

h6{
 color: #050505; 
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar-light .navbar-nav .nav-link {
 padding: 0 0px;   /*distancia de menu del costado izq*/
 color: #000;
 transition: 0.3s ease;
}

.nav-item{
padding: 0 0px;
color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
 color: coral;

}

.navbar i{
 font-size: 1.2rem;
 padding: 0 0.7px;
 transition: 0.1s ease ;
 font-weight: 500;
 cursor: pointer; 
 margin-left: 5px;
 
}

@media only screen and (max-width:990px){

 .nav-buttons{
     margin: 20px;   
 }

  .nav-buttons ul{
     margin: 1rem;
     justify-content: flex-start;
     align-items: flex-start;
     text-align: left;       
 }

 .nav-buttons ul .fas{
     margin: 20px 5px 10px 20px;
 }

     
} 



/*-----------------------------------------------------*/
.row {
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.contact-info {
  margin-top: 10px; /* Ajusta este valor según sea necesario */
  font-weight: bold;
  

}

.contact-info p {
  color: #000000; /* Cambia este valor por el color que desees */
  font-size: 12px;
  text-shadow: #ffffff 0.1em 0.1em 0.1em;
  

}

.contact-info h1 {
  color: #000000; /* Cambia este valor por el color que desees */
  font-weight: bold;
  font-size: 18px;
  text-shadow: #ffffff 0.1em 0.1em 0.1em;
  
}

.container {
    padding-bottom: 100px; /* Ajusta el valor según el espacio deseado */
    padding-bottom: 5px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}


body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.contact-form {
  background: #eee;
  padding: 50px 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 1px; /* Ajusta este valor según sea necesario */
}
.form{
    border: 1px solid #0000006c;
    margin: 7px 0px;
    padding: 6px 20px;
    border-radius: 10px;
    
}
.contact-form h1{
    font-weight: 500;
    margin-top: 0px;
    
    
}
.form label{
    font-size: 13px;
    color: #000;
    display: block;
    text-align: left;
    text-transform: uppercase;

}
.form input, .form textarea{
    width: 100%;
    font-size: 19px;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;

}
.button{
    width: 40%;
    display: inline-block;
    background-color: coral;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
    color: #fff;
}




/*------------------------------------------*/
#home{
  color: aliceblue;
  background-image: url("../imgs/brand/9.jpeg");
  margin-top: 100px;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: 1px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

}


#home h1{
  color:  rgba(0, 0, 0,0.8);
  color: white; text-shadow: #333 0.1em 0.1em 0.1em;
  font-size: 50PX;
  }

#home p{
  color:  rgba(0, 0, 0,0.8);
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: #333 0.1em 0.1em 0.1em; 
}
/*-------------------------*/

#banner h1{
  color: coral;
}



#banner button{
  background-color: #fb774b;
}



#banner button:hover{
  background-color: #ebe3e31d;
}

/* Estilos para el contenedor de la política de privacidad */
.form {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  margin-top: 10px; /* Ajusta según sea necesario para agregar espacio entre el formulario y la política de privacidad */
}

/* Estilos para el texto de la política de privacidad */
.form label {
  margin-right: 10px; /* Ajusta según sea necesario para agregar espacio entre el texto y el recuadro */
  font-size: 13px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

/* Estilos para el recuadro de aceptar */
.form input[type="checkbox"] {
  /* Puedes ajustar el estilo del cuadro de aceptar según sea necesario */
}

/* Estilos para el botón de enviar */
.button {
  width: 40%;
  display: inline-block;
  background-color: coral;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 8px;
  cursor: pointer;
  color: #fff;
}


/*----------foooter------------*/

/* Estilos generales para el footer */

footer {
    background-color: #222;
    color: #d8d8d8;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 20px 0; /* Ajusta el espacio interior del footer */
    text-align: center;
}
  
  /* Estilos para encabezados en el footer */
  footer h5 {
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0; /* Elimina el margen superior e inferior predeterminado */
  }
  
  /* Estilos para la lista en el footer */
  footer ul {
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el espacio interno de la lista */
  }
  
  /* Estilos para los elementos de la lista en el footer */
  footer li {
    padding-bottom: 8px;
  }
  
  /* Estilos para los enlaces en el footer */
  footer a {
    color: #d8d8d8;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: color 0.3s ease; /* Agrega una transición suave al color */
  }
  
  /* Cambia el color de los enlaces cuando se desplazan sobre ellos */
  footer a:hover {
    color: #ff000096;
  }
  
  /* Estilos para el bloque de derechos de autor */
  footer .copyright {
    margin-top: 20px; /* Agrega espacio en la parte superior del bloque de derechos de autor */
  }
  
  /* Estilos para los íconos de redes sociales en el footer */
  footer .copyright a {
    color: #ffffff;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-flex; /* Para centrar verticalmente */
    align-items: center; /* Para centrar verticalmente */
    justify-content: center; /* Para centrar horizontalmente */
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
  }
  
  /* Cambia el color de los íconos de redes sociales cuando se desplazan sobre ellos */
  footer .copyright a:hover {
    color: #fff;
    background-color: #fb774b;
  }
  
  /* Estilos para el texto en el footer */
  footer p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px; /* Ajusta el tamaño del texto */
    color: white;
  }
  
  /* Estilos para los encabezados secundarios en el footer */
  footer h6 {
    color: white;
    margin: 0; /* Elimina el margen superior e inferior predeterminado */
  }
  
  /* Estilos para la imagen del logo en el footer */
  footer .copyright img {
    width: 100%; /* Asegura que la imagen se ajuste al ancho del contenedor */
    max-width: 100px; /* Define un ancho máximo para la imagen */
  }
  

/* Estilo para el texto en las etiquetas li */
ul.text-uppercase li {
  font-size: 12px; /* Ajusta el tamaño según tus preferencias */
}

/* Estilo para el texto en las etiquetas h5 */
.footer-one h5 {
  font-size: 15px; /* Ajusta el tamaño según tus preferencias */
}

/* Estilo para el texto en las etiquetas h6 */
.footer-one h6 {
  font-size: 12px; /* Ajusta el tamaño según tus preferencias */
}

/* Estilo para el texto en las etiquetas p */
.footer-one p {
  font-size: 12px; /* Ajusta el tamaño según tus preferencias */
}

.footer-one p {
  white-space: nowrap;
}